// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$primary: #db4c3f;

body {
    height: 100vh;
}

.button {
    background: $primary;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.25rem 0.5rem;
}

.font-large {
    font-size: 20px;
}

.input {
    border: 1px solid lightgray;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.primary {
    background: $primary;
}
