// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.button {
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.font-large {
    font-size: 20px;
}

.h-100vh {
    height: 100vh;
}

.input {
    border: 1px solid lightgray;
    padding: 0.25rem;
}

.left-0 {
    left: 0;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.primary {
    background: $primary;
    color: white;
}

.primary-text {
    color: $primary;
}

.round {
    border-radius: 1000px;
}

.top-0 {
    top: 0;
}

.w-100vw {
    width: 100vw;
}

.white {
    background: $white;
}

.word-break-all {
    word-break: break-all;
}
